<div class="container">
			<div id="cbp-so-scroller" class="cbp-so-scroller" id="mtv">
				<section class="cbp-so-section">
					<figure class="cbp-so-side">
						<p><strong>MTV.COM</strong> | Built UI/UX components with CSS (LESS) and JavaScript</p>
						<a href="http://www.mtv.com" target="_blank"><img src="../assets/images/mtv.png" alt="img01"></a>
				    </figure>
				</section>


				<section class="cbp-so-section" >
					<div class="for_nav" id="vh1"></div>
					<figure class="cbp-so-side">
						<p><strong>VH1.COM</strong> | Built UI/UX components with CSS (LESS) and JavaScript</p>
						<a href="http://www.vh1.com" target="_blank"><img src="../assets/images/vh1.png" alt="img01" >
						</a>
					</figure>
				</section>
				<section class="cbp-so-section">
					<div class="for_nav" id="logotv"></div>
					<figure class="cbp-so-side">
						<p><strong>LOGOTV.COM</strong> | Built UI/UX components with CSS (LESS) and JavaScript</p>
						<a href="http://www.logotv.com" target="_blank"><img src="../assets/images/logotv.png" alt="img01"></a>
					</figure>
				</section>
				<section class="cbp-so-section" id="cc">
					<div class="for_nav"></div>
					<figure class="cbp-so-side">
						<p><strong>CC.COM</strong> | Built UI/UX components with CSS (LESS) and JavaScript</p>
						<a href="http://www.cc.com" target="_blank"><img src="../assets/images/cc.png" alt="img01"></a>
					</figure>
				</section>
				<section class="cbp-so-section" id="perfume">
					<div class="for_nav"></div>
					<figure class="cbp-so-side">
						<p><strong>LABORATORIO OLFATTIVO</strong> | In Class Project at Touro College</p>
					    <a href="laboratorio/index.html" target="_blank"><img src="../assets/images/perfume.png" alt="img01"></a>
					</figure>
				</section>
				<section class="cbp-so-section" id="portfolio_2015">
					<div class="for_nav"></div>
					<figure class="cbp-so-side">
						<p><strong>DESIGN PORTFOLIO WEBSITE</strong></p>
						<a href="portfolio/index.html" target="_blank"><img src="../assets/images/portfolio_2015.png" alt="img01"></a>
					</figure>
				</section>
				<section class="cbp-so-section" id="fairytale">
					<div class="for_nav"></div>
					<figure class="cbp-so-side">
						<p><strong>FAIRYTALE RECIPE</strong> | Thesis Project at Touro College</p>
						<a href="FairyTale_Recipes_3/index.html" target="_blank"><img src="../assets/images/fairytale.png" alt="img01"></a>
					</figure>
				</section>
				<section class="cbp-so-section">
					<div id="contact" class="for_nav"></div>
					<figure class="cbp-so-side">
						<p><strong>CONTACT</strong></p>
						<a href="mailto:jieunwon.nyc@gmail.com" class="contact_a"><p class="contact_p">jieunwon.nyc@gmail.com</p></a>
						<p class="contact_p">646.842.3148</p>
					</figure>
				</section>
			</div>
		</div>
