/* You can add global styles to this file, and also import other style files */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #000;
  width: 76%;
  margin-right: 12%;
  margin-left: 12%;
  height: 100%;
}

header {
  height: 80px;
  margin: 0 auto;
  /*padding-bottom: 50px;*/
  padding-top: 1.975em;
  position: relative;
  z-index: 10;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

header a {
  color: #000;
  text-decoration: none;
}

header a:visited {
  color: #000;
}

header a span {
  display: block;
  position: relative;
  z-index: 9999;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  padding: 0 0 0.6em 0.1em;
}

header h1 {
  /*color: #EBE7DB;*/
  color: #000;
  font-size: 2.125em;
  letter-spacing: .25em;
  line-height: 1.3;
  margin: 0 0 0.6em 0;
  float: left;
  font-weight: 400;
}

header nav {
  float: right;
  margin-top: 8px;
  text-align: center;
         /*#resume {
            font-size: 1.25em;
         }

         #linkedin {
            font-size: 1em;
         }*/
}

header nav i {
  font-size: 1.5em;
  margin-left: 25px;
}

header nav span {
  font-family: 'Oswald', sans-serif;
  font-size: 1.3em;
  letter-spacing: 0.09em;
}

header.sticky {
  background: rgba(0, 248, 189, 0.9);
  font-size: 12px;
  height: 40px;
  padding-left: 20px;
  padding-top: 0;
  position: fixed;
  text-align: left;
  top: 0;
  width: 76%;
}

header.sticky h1 {
  color: #000;
  font-weight: 400;
  margin-top: 5px;
  letter-spacing: 0.08em;
}

header.sticky nav {
  margin-right: 20px;
  margin-top: 1px;
}

header.sticky nav h1 {
  margin-top: 8px;
}

header.sticky nav i {
  color: #fff;
  font-size: 2em;
  margin-top: 0;
}

header.sticky nav span {
  color: #fff;
  display: inline-block;
  font-size: 1.5em;
  margin-top: 8px;
}

header.sticky nav .dropdown i {
  color: #fff;
}

header.sticky span {
  display: none;
}

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown a {
  text-decoration: none;
}
.dropdown li {
  /*border-bottom: 1px solid #fff;*/
  color: #3A696F;
  list-style: none;
  text-align: left;
  text-decoration: none;
  padding-bottom: 8px;
  padding-top: 8px;
}
.dropdown li:hover {
  color: #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #00F8BD;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 0 10px;
  z-index: 1;
}
.dropdown-content a {
  text-decoration: none;
}
.dropdown-content li {
  color: #3A696F;
  list-style: none;
  text-align: left;
  text-decoration: none;
  padding-bottom: 8px;
  padding-top: 8px;
}

.dropdown:hover .dropdown-content {
  display: block;
  margin-top: 0;
  width: 100%;
}

.for_nav {
  /*background: red;*/
  height: 10px;
  margin-bottom: 80px;
  /*visibility: none;*/
  width: 10px;
}

.for_nav:nth-child(1) {
  /*display: none;*/
}

.container > header > nav > .dropdown > span > i {
  color: #fff;
  font-size: 1.3em;
  margin-left: 0;
}

div.container > div.outer > nav > div > span > i {
  font-size: 1em;
  margin-left: 5px;
}

.cbp-so-section .contact_a {
  text-decoration: none;
}

.cbp-so-section .contact_p {
  color: #fff;
  font-size: 1em;
  letter-spacing: 0.08em;
  margin-top: -5px;
  text-decoration: underline;
}
.cbp-so-section .contact_p:hover {
  color: #00F8BD;
}

footer p {
  clear: both;
  display: block;
  letter-spacing: 0.1em;
  padding: 30px 0;
  text-align: center;
}

@media screen and (max-width: 73.5em) {
  header a {
    text-decoration: none;
  }
  header a span {
    display: block;
    font-size: 0.9em;
    position: relative;
    z-index: 9999;
    font-weight: 700;
    /*text-align: center;*/
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    padding: 0 0 0.6em 0.1em;
  }
  header h1 {
    /*color: #EBE7DB;*/
    float: none;
    font-size: 1.8em;
    letter-spacing: .3em;
    line-height: 1.3;
    margin: 0 0 0.6em 0;
    font-weight: 400;
  }
  header nav {
    margin-top: 12px;
    text-align: center;
  }
  header nav i {
    color: #3A696F;
    font-size: 1.5em;
    margin-left: 25px;
  }
  header nav i:hover {
    color: #00F8BD;
  }
  header nav span {
    font-size: 0.8em;
    letter-spacing: 0.09em;
  }
  header.sticky {
    background: rgba(0, 248, 189, 0.9);
    font-size: 12px;
    height: 40px;
    padding-bottom: 1em;
    padding-left: 20px;
    padding-top: 0;
    position: fixed;
    text-align: left;
    top: 0;
    width: 76%;
    z-index: 200;
  }
  header.sticky h1 {
    color: #fff;
    display: inline-block;
    margin-bottom: 0;
    margin-top: 6px;
  }
  header.sticky nav {
    display: inline-block;
    margin-right: 20px;
    margin-top: 0;
  }
  header.sticky nav h1 {
    margin-top: 10px;
  }
  header.sticky nav i {
    color: #fff;
    font-size: 1.9em;
    margin-top: 0;
  }
  header.sticky nav span {
    color: #fff;
    display: inline-block;
    font-size: 1.5em;
    margin-top: 8px;
  }
  header.sticky nav .dropdown {
    margin-top: -1px;
  }
  header.sticky span {
    display: none;
  }

  footer p {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 41.125em) {
  body {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }

  header {
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 1.975em;
    position: relative;
    z-index: 10;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  header a span {
    display: block;
    position: relative;
    z-index: 9999;
    float: none;
    font-size: 0.6em;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    padding: 0 0 0.6em 0.1em;
  }
  header h1 {
    /*color: #EBE7DB;*/
    color: #3A696F;
    float: none;
    font-family: 'Exo', sans-serif;
    font-size: 1.5em;
    letter-spacing: .3em;
    line-height: 1.3;
    margin: 0 0 0.6em 0;
    font-weight: 400;
    text-align: center;
  }
  header nav {
    margin-bottom: 20px;
    margin-top: 0;
    width: 100%;
  }
  header nav i {
    color: #3A696F;
    font-size: 1.2em;
    margin-left: 10px;
    margin-right: 10px;
  }
  header nav span {
    font-size: 0.8em;
    letter-spacing: 0.09em;
  }
  header.sticky {
    background: rgba(0, 248, 189, 0.9);
    color: #000;
    font-size: 12px;
    height: 60px;
    padding-bottom: 1em;
    padding-left: 0;
    padding-top: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 90%;
  }
  header.sticky h1 {
    color: #000;
    font-size: 1.2em;
    margin-bottom: 5px;
    margin-top: 5px;
    float: none;
    text-align: center;
  }
  header.sticky nav {
    border-top: 1px solid #000;
    margin-right: 0;
  }
  header.sticky nav .sticky_icon {
    margin-right: 10px;
  }
  header.sticky nav h1 {
    margin-top: 8px;
  }
  header.sticky nav i {
    color: #000;
    font-size: 1.2em;
    margin-left: 10px;
  }
  header.sticky nav span {
    color: #000;
    display: inline-block;
    font-size: 1em;
    margin-top: 9px;
  }
  header.sticky nav .dropdown i {
    color: #3A696F;
  }
  header.sticky span {
    display: none;
  }

  footer p {
    font-size: 0.5em;
    letter-spacing: 0.05em;
  }
}
